/* -------------------- Medium devices (tablets, 768px and up) -------------------- */
@media (min-width: 768px) {
    #listeSalles,
    #ajoutSalles{
        width: calc(45% - 2em);
        max-width: 500px;
        position: relative;

        h1{
            position: absolute;
            top: 0;
            left: -1.25em;
            height: 100%;
            width: auto;
            display: grid;
            align-content: flex-end;
            writing-mode: vertical-lr;
            transform: rotate(-180deg);
            text-align: right;
            font-size: 2em;
            line-height: inherit;
        }
    }

    #listeSalles{
        order: 2;
    }

    #ajoutSalles{
        order: 3;
        margin-left: 2.5em;
    }

    #dialogueSalle .btn{
        padding: 6px 8px;
    }
}